* {
  border: 1px solid black;
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  flex-direction: column;
}
img{
  max-width: 100px;
}
/* .col {
max-width: 50%;
margin: 10px;
} */
